* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #d9dcd6;
}

a {
	color: #ffffff;
	text-decoration: none;
}

p {
	font-size: 16px;
}

/* FONTS */

.header,
.footer {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.header nav,
.content-article,
.benefits {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* HEADER */

.header {
	padding: 20px;
	background-color: #2a607c;
	color: #ffffff;
}

.header h1 {
	display: inline-block;
	font-size: 48px;
}

.header h1 .seo {
	color: #d9dcd6;
}

.header nav {
	padding-top: 15px;
	margin-right: 20px;
	float: right;
	font-size: 20px;
}

.header nav ul {
	list-style-type: none;
}

.header nav ul li {
	display: inline-block;
	margin-left: 25px;
}

.landing-image {
	height: 800px;
	width: 100%;
	margin-bottom: 25px;
	background-image: url("../images/digital-marketing-meeting.jpg");
	background-size: cover;
	background-position: center;
}

/* CONTENT */

.content {
	width: 75%;
	display: inline-block;
	margin-left: 20px;
}

.content-article {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	background-color: #0072bb;
	color: #ffffff;
}

.content-article img {
	max-height: 200px;
}

.content-article h2 {
	margin-bottom: 20px;
	font-size: 36px;
}

.float-left {
	float: left;
	margin-right: 25px;
}

.float-right {
	float: right;
	margin-left: 25px;
}

/* BENEFITS */

.benefits {
	margin-right: 20px;
	padding: 20px;
	clear: both;
	float: right;
	width: 20%;
	height: 100%;
	background-color: #2589bd;
}

.benefit-article {
	margin-bottom: 32px;
	color: #ffffff;
}

.benefit-article h3 {
	margin-bottom: 10px;
	text-align: center;
}

.benefit-article img {
	display: block;
	margin: 10px auto;
	max-width: 150px;
}

/* FOOTER */

.footer {
	padding: 30px;
	clear: both;
	text-align: center;
}

.footer h2 {
	font-size: 20px;
}
